body{
    background-color: rgb(8, 45, 48);
    color: white;
    font-family: "Arvo", serif;
}

h1{
    display: block;
    text-align: center;
    font-size: 50px;
}

.drum-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    align-content: center;
    gap: 20px;
}

.drum-button{
    flex: 0 0 100px;
    height: 100px;
    border-radius: 10px;
    font-family: "Arvo", serif;
    font-size:  2rem;;
    font-weight: bold;
    color: red;
    text-shadow: 4px 2px 5px #000000;
    border: 5px solid rgb(20, 122, 132);
}

.drum-button:focus{
    outline: none;
}

.flash{
    color: white;
    box-shadow: 0 0 20px 5px yellow;
    transform: scale(1.1);
    transition: all 0.5s ease;
}

footer{
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

#w{
    background-image: url('images/tom1.png');
    background-size: cover;
}

#a{
    background-image: url('images/tom2.png');
    background-size: 120px;
}

#s{
    background-image: url('images/tom3.png');
    background-size: 150%;
}

#d{
    background-image: url('images/tom4.png');
    background-size: 150%;
}

#j{
    background-image: url('images/snare.png');
    background-size: 100px;
}

#k{
    background-image: url('images/crash.png');
    background-size: 100px;
}

#l{
    background-image: url('images/kick.png');
    background-size: 200px;
}